@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@900&family=Ultra&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --green: #6aa964;
  --yellow: #c9b458;
  --gray: #787c7e;
  --ltgray: #d3d6da;
  --font-size: 1rem;
  --serif: "Ultra", "Noto Serif KR", "Times New Roman", serif;
  --sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--white);
  font-size: var(--font-size);
  height: 100vh;
  overflow-x: hidden;
}

/** Navbar Styles **/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--ltgray);
}
header h1 {
  font-family: var(--serif);
  justify-self: center;
  text-align: center;
  font-size: 1.5rem;
}
header span {
  font-size: 200%;
}
header .left-icons {
  justify-content: flex-start;
}
header .fa-solid {
  color: var(--black);
  background-color: var(--white);
}
header .right-icons {
  justify-content: flex-end;
}
button {
  border: none;
  margin: 0;
  padding: 0;
}
/** For mobile devices, change navbar style **/
@media (max-width: 420px) {
  header {
    justify-content: center;
  }
  header h1 {
    text-align: left;
    order: 1;
    flex-grow: 2;
  }
  header .left-icons {
    order: 2;
    padding-right: 10px;
  }
  header .right-icons {
    order: 3;
  }
}

/** Responsive style for overall game module **/
.game-module {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  align-items: center;
  margin: 0 auto;
}

.board-module {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  height: 390px;
  width: 330px;
}

.keyboard {
  height: 188px;
}

/** Styles for board of letter **/
.word {
  display: flex;
  column-gap: 5px;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100%;
}
.letter {
  width: 100%;
  height: 60px;
  border: 2px solid var(--ltgray);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.correct {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}
.close {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--white);
}
.wrong {
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--white);
}
.filled {
  border-color: var(--gray);
}
.invalid {
  animation: blink 1s linear;
}

@keyframes blink {
  0% {
    border-color: darkred;
  }
}

/** Styles for keyboard **/
.keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 10px 3px;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}
.key {
  width: calc(85% / 10);
  height: 58px;
  background-color: var(--ltgray);
  color: var(--black);
  border-radius: 5px;
  font-size: 1rem;
  font-family: vars(--sans);
  font-weight: bold;
  text-align: center;
}
.func {
  width: calc(76.5% / 7);
  font-size: 0.7rem;
}
.key span {
  font-size: 1.3rem;
}
.key:hover {
  cursor: pointer;
}
