@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@900&family=Ultra&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --green: #6AA964;
  --yellow: #C9B458;
  --gray: #787C7E;
  --ltgray: #D3D6DA;
  --font-size: 1rem;
  --serif: 'Ultra', 'Noto Serif KR', "Times New Roman", serif;
  --sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--white);
  font-size: var(--font-size);
}

/** Nav Styles **/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border: 1px solid var(--ltgray);
}

header h1 {
  font-family: var(--serif);
  font-weight: 1200;
  justify-self: center;
}

header span {
  font-size: 200%;
}

header .left-icons {
  width: 6rem;
}

header .right-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 6rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

.game-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 0.5s infinite linear;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.word {
  display: flex;
  column-gap: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 340px;
}

.letter {
  width: 60px;
  height: 60px;
  border: 2px solid var(--ltgray);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black)
}

@keyframes blink {
  0% {
    border-color: darkred;
  }
}

/** Styles for keyboard **/
#keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 4rem auto 2rem;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}

.key {
  width: calc(76.5% / 10);
  height: 58px;
  background-color: var(--ltgray);
  color: var(--black);
  border-radius: 5px;
  font-size: 1rem;
  font-family: vars(--sans);
  font-weight: bold;
  text-align: center;
}

.func {
  width: calc(76.5% / 7);
  font-size: 0.7rem;
}

.key span {
  font-size: 1.3rem;
}

.key:hover {
  cursor: pointer;
}
